## LIMPIEZA EDA

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../0_data/0_raw/atp_tennis.csv')

In [3]:
df.head()

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1.0,6-4 6-2
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1.0,3-6 3-6
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1.0,6-7 7-5 6-3
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1.0,1-6 4-6
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1.0,7-6 5-7 6-4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66666 entries, 0 to 66665
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  66666 non-null  object
 1   Date        66666 non-null  object
 2   Series      66666 non-null  object
 3   Court       66666 non-null  object
 4   Surface     66666 non-null  object
 5   Round       66666 non-null  object
 6   Best of     66666 non-null  int64
 7   Player_1    66666 non-null  object
 8   Player_2    66666 non-null  object
 9   Winner      66666 non-null  object
 10  Rank_1      66666 non-null  int64
 11  Rank_2      66666 non-null  int64
 12  Pts_1       66666 non-null  int64
 13  Pts_2       66666 non-null  int64
 14  Odd_1       66666 non-null  float64
 15  Odd_2       66666 non-null  float64
 16  Score       66666 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 8.6+ MB

In [5]:
df.describe()

,Best of,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2
count,66666.000000,66666.000000,66666.000000,66666.000000,66666.000000,66666.000000,66666.000000
mean,3.377614,75.862089,75.559461,1133.566721,1138.359179,2.414240,2.411771
std,0.782716,100.615757,100.885205,1719.054643,1742.655891,2.659999,2.640715
min,3.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.000000,24.000000,25.000000,117.000000,119.250000,1.333000,1.333000
50%,3.000000,53.000000,54.000000,701.000000,700.000000,1.736667,1.800000
75%,3.000000,92.000000,92.000000,1248.000000,1252.000000,2.750000,2.750000
max,5.000000,3390.000000,4915.000000,16950.000000,16950.000000,67.000000,51.000000

In [6]:
df[(df["Tournament"] == "US Open") & (df["Round"] == "1st Round")]

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
2207,US Open,2000-08-28,Grand Slam,Outdoor,Hard,1st Round,5,Kim A.,Agassi A.,Agassi A.,432,1,-1,-1,-1.00,-1.00,4-6 2-6 0-6
2208,US Open,2000-08-28,Grand Slam,Outdoor,Hard,1st Round,5,Alami K.,El Aynaoui Y.,Alami K.,33,22,-1,-1,-1.00,-1.00,6-3 6-4 3-6 2-6 6-3
2209,US Open,2000-08-28,Grand Slam,Outdoor,Hard,1st Round,5,Hantschk M.,Arazi H.,Arazi H.,92,41,-1,-1,-1.00,-1.00,3-6 0-6 6-4 7-6 4-6
2210,US Open,2000-08-28,Grand Slam,Outdoor,Hard,1st Round,5,Arthurs W.,Kuerten G.,Arthurs W.,102,2,-1,-1,-1.00,-1.00,4-6 6-3 7-6 7-6
2211,US Open,2000-08-28,Grand Slam,Outdoor,Hard,1st Round,5,Ulihrach B.,Bjorkman J.,Bjorkman J.,82,53,-1,-1,-1.00,-1.00,6-2 6-7 6-7 1-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66164,US Open,2025-08-26,Grand Slam,Outdoor,Hard,1st Round,5,Borges N.,Holt B.,Borges N.,41,110,1145,554,1.36,3.20,6-4 6-2 6-3
66165,US Open,2025-08-26,Grand Slam,Outdoor,Hard,1st Round,5,Monfils G.,Safiullin R.,Safiullin R.,49,94,1015,676,1.91,1.91,4-6 6-2 1-6 6-3 4-6
66166,US Open,2025-08-27,Grand Slam,Outdoor,Hard,1st Round,5,Fearnley J.,Bautista Agut R.,Fearnley J.,60,47,939,1075,2.20,1.67,7-5 6-2 5-7 6-4
66167,US Open,2025-08-27,Grand Slam,Outdoor,Hard,1st Round,5,Moller E.,Paul T.,Paul T.,109,14,560,2610,15.00,1.03,3-6 3-6 1-6
66168,US Open,2025-08-27,Grand Slam,Outdoor,Hard,1st Round,5,Zverev A.,Tabilo A.,Zverev A.,3,122,6230,517,1.03,17.00,6-2 7-6 6-4

In [7]:
df[(df["Tournament"] == "US Open") & (df["Round"] == "1st Round") & (df["Date"] == "2025-08-24")]

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
66105,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Shevchenko A.,Davidovich Fokina A.,Davidovich Fokina A.,91,18,692,2185,5.50,1.14,1-6 1-6 2-6
66106,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Rinderknech A.,Carballes Baena R.,Rinderknech A.,82,87,782,740,1.50,2.63,7-6 7-5 4-6 6-2
66107,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Jarry N.,Mensik J.,Mensik J.,102,16,628,2430,3.20,1.36,6-7 3-6 4-6
66108,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Shelton B.,Buse I.,Shelton B.,6,135,4280,473,1.03,17.00,6-3 6-2 6-4
66109,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Nava E.,Fritz T.,Fritz T.,968,4,21,5575,8.00,1.08,5-7 2-6 3-6
66110,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Blanchet U.,Marozsan F.,Blanchet U.,184,53,295,975,4.00,1.25,6-4 3-6 7-6 6-2
66111,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Dostanic S.,Spizzirri E.,Spizzirri E.,389,127,127,493,2.75,1.44,5-7 4-6 6-7
66112,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Darderi L.,Hijikata R.,Darderi L.,34,103,1379,623,1.57,2.38,6-2 6-1 6-2
66113,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Coric B.,Lehecka J.,Lehecka J.,105,21,595,2115,6.00,1.13,6-3 4-6 6-7 1-6
66114,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Mannarino A.,Griekspoor T.,Mannarino A.,77,30,811,1655,2.30,1.62,7-5 6-4 6-0
66115,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Nardi L.,Machac T.,Machac T.,86,22,755,2110,3.00,1.40,3-6 1-6 1-6
66116,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Svajda Z.,Piros Z.,Svajda Z.,145,156,421,362,1.40,3.00,6-4 6-2 7-5
66117,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Quinn E.,Kym J.,Kym J.,84,175,771,309,1.67,2.20,3-6 2-6 6-3 6-7
66118,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Carreno Busta P.,Llamas Ruiz P.,Carreno Busta P.,137,361,468,136,1.53,2.50,7-6 6-4 6-2
66119,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Ugo Carabelli C.,Etcheverry T.,Etcheverry T.,43,59,1123,940,3.50,1.30,3-6 2-6 0-6
66120,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Thompson J.,Moutet C.,Thompson J.,58,40,945,1146,3.40,1.33,6-2 6-4 1-6 6-3
66121,US Open,2025-08-24,Grand Slam,Outdoor,Hard,1st Round,5,Navone M.,Giron M.,Giron M.,78,55,810,960,1.80,2.00,0-6 5-7 6-4 7-5 4-6

In [8]:
df = df.iloc[:66105]

In [3]:
jugadores = pd.read_csv("../0_data/0_raw/atp_players_till_2022.csv")
jugadores

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
0,100001,Gardnar,Mulloy,R,19131122.0,USA,185.0,Q54544
1,100002,Pancho,Segura,R,19210620.0,ECU,168.0,Q54581
2,100003,Frank,Sedgman,R,19271002.0,AUS,180.0,Q962049
3,100004,Giuseppe,Merlo,R,19271011.0,ITA,NaN,Q1258752
4,100005,Richard,Gonzalez,R,19280509.0,USA,188.0,Q53554
...,...,...,...,...,...,...,...,...
58682,212032,Abhishek,Bastola,U,NaN,NPL,NaN,NaN
58683,212033,Cameron,Muller,U,NaN,USA,NaN,NaN
58684,212034,Ian,Bracks,U,NaN,USA,NaN,NaN
58685,212035,Alexander,Visser,U,NaN,USA,NaN,NaN
58686,212036,Abhishek,Thorat,U,NaN,USA,NaN,NaN

In [10]:
# Crear columna en jugadores con formato: "Apellido I."

print("Columnas disponibles:", jugadores.columns.tolist())

if 'name_last' in jugadores.columns and 'name_first' in jugadores.columns:
    def format_player_name(name, lastname):
        """
        Convierte 'John Michael' + 'García-López' -> 'García-López J.'
        Convierte 'Anna' + 'De La Cruz' -> 'De La Cruz A.'
        """
        if pd.isna(name) or pd.isna(lastname):
            return None
        
        # Limpiar espacios
        name_clean = str(name).strip()
        lastname_clean = str(lastname).strip()
        
        # Tomar la primera letra del PRIMER nombre (puede ser múltiple)
        first_initial = name_clean.split()[0][0].upper() if name_clean else ''
        
        # Construir: "Apellido I."
        return f"{lastname_clean} {first_initial}."
    
    # Aplicar función
    jugadores['Player_Name'] = jugadores.apply(
        lambda row: format_player_name(row['name_first'], row['name_last']), 
        axis=1
    )
    
    print("\n=== Nueva columna 'Player_Name' en jugadores ===")
    print(jugadores[['name_first', 'name_last', 'Player_Name']].head(15))
    print()
    
    # Comparar con df
    print("=== Ejemplo de Player_1 en df ===")
    print(df['Player_1'].head(15).values)
    print()
    
    # Verificar coincidencias
    print("=== Verificación de coincidencias ===")
    coincidencias = df['Player_1'].isin(jugadores['Player_Name']).sum()
    total = len(df)
    print(f"Coincidencias: {coincidencias}/{total} ({coincidencias/total*100:.2f}%)")
    
else:
    print("\nColumnas no coinciden. Por favor, verifica los nombres de las columnas:")
    print(jugadores.columns.tolist())
    print("\nSample data:")
    print(jugadores.head(3))

Columnas disponibles: ['player_id', 'name_first', 'name_last', 'hand', 'dob', 'ioc', 'height', 'wikidata_id']

=== Nueva columna 'Player_Name' en jugadores ===
   name_first    name_last     Player_Name
0     Gardnar       Mulloy       Mulloy G.
1      Pancho       Segura       Segura P.
2       Frank      Sedgman      Sedgman F.
3    Giuseppe        Merlo        Merlo G.
4     Richard     Gonzalez     Gonzalez R.
5       Grant       Golden       Golden G.
6         Abe        Segal        Segal A.
7        Kurt      Nielsen      Nielsen K.
8      Istvan       Gulyas       Gulyas I.
9        Luis        Ayala        Ayala L.
10     Torben       Ulrich       Ulrich T.
11     Nicola  Pietrangeli  Pietrangeli N.
12      Neale       Fraser       Fraser N.
13     Trevor      Fancutt      Fancutt T.
14      Sammy    Giammalva    Giammalva S.

=== Ejemplo de Player_1 en df ===
['Dosedel S.' 'Clement A.' 'Escude N.' 'Knippschild J.' 'Fromberg R.'
 'Arthurs W.' 'Grosjean S.' 'Balcells J.' 'Hewitt L.' 'Tebbutt M.'
 'Martin A.' 'Draper S.' 'Petrovic D.' 'Pozzi G.' 'Stoltenberg J.']

=== Verificación de coincidencias ===
Coincidencias: 61226/66105 (92.62%)

In [11]:
# Eliminar solo las filas donde 'dob' es NaN
print(f"Jugadores antes: {len(jugadores)}")
print(f"Filas con dob NaN: {jugadores['dob'].isna().sum()}")
jugadores = jugadores.dropna(subset=['dob'])
print(f"Jugadores después de eliminar NaN en dob: {len(jugadores)}")
print()

# Crear columna 'año' con los primeros 4 dígitos de 'dob'
jugadores['año'] = jugadores['dob'].astype(str).str[:4].astype(int)

print("=== Nueva columna 'año' en jugadores ===")
print(jugadores[['dob', 'año']].head(10))
print()
print(f"Rango de años: {jugadores['año'].min()} - {jugadores['año'].max()}")

Jugadores antes: 58687
Filas con dob NaN: 13547
Jugadores después de eliminar NaN en dob: 45140

=== Nueva columna 'año' en jugadores ===
          dob   año
0  19131122.0  1913
1  19210620.0  1921
2  19271002.0  1927
3  19271011.0  1927
4  19280509.0  1928
5  19290821.0  1929
6  19301023.0  1930
7  19301119.0  1930
8  19311014.0  1931
9  19320918.0  1932

Rango de años: 1834 - 2007

C:\Users\Propietario\AppData\Local\Temp\ipykernel_996\2448476643.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jugadores['año'] = jugadores['dob'].astype(str).str[:4].astype(int)

In [12]:
jugadores["Player_Name"] = jugadores["Player_Name"].str.title()
jugadores

C:\Users\Propietario\AppData\Local\Temp\ipykernel_996\3564439837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jugadores["Player_Name"] = jugadores["Player_Name"].str.title()

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id,Player_Name,año
0,100001,Gardnar,Mulloy,R,19131122.0,USA,185.0,Q54544,Mulloy G.,1913
1,100002,Pancho,Segura,R,19210620.0,ECU,168.0,Q54581,Segura P.,1921
2,100003,Frank,Sedgman,R,19271002.0,AUS,180.0,Q962049,Sedgman F.,1927
3,100004,Giuseppe,Merlo,R,19271011.0,ITA,NaN,Q1258752,Merlo G.,1927
4,100005,Richard,Gonzalez,R,19280509.0,USA,188.0,Q53554,Gonzalez R.,1928
...,...,...,...,...,...,...,...,...,...,...
58222,211572,Tegar Abdi Satrio,Wibowo,U,20030303.0,INA,NaN,NaN,Wibowo T.,2003
58223,211573,Lucky Candra,Kurniawan,U,20031220.0,INA,NaN,NaN,Kurniawan L.,2003
58389,211739,Liam,Drover Mattinen,U,20050201.0,CAN,NaN,NaN,Drover Mattinen L.,2005
58426,211776,Martin,Landaluce,R,20060108.0,ESP,191.0,NaN,Landaluce M.,2006
58431,211781,Karol,Safarik,U,19390707.0,TCH,NaN,NaN,Safarik K.,1939

In [ ]:
# Merge con df (tanto Player_1 como Player_2)

# Crear un diccionario con la edad de cada jugador
edad_dict = dict(zip(jugadores['Player_Name'], jugadores['año']))  # o la columna de edad

# Añadir edad a Player_1
df['Age_Player1'] = df['Player_1'].map(edad_dict)

# Añadir edad a Player_2
df['Age_Player2'] = df['Player_2'].map(edad_dict)

print("Valores NaN en Age_1:", df['Age_Player1'].isna().sum())
print("Valores NaN en Age_2:", df['Age_Player2'].isna().sum())

Valores NaN en Age_1: 4961
Valores NaN en Age_2: 4911

In [14]:
# Reemplazos manuales según tu lista de nombres correctos
# Se hace por coincidencia parcial del apellido para capturar variantes y luego
# se vuelve a mapear las edades.
replacements = {
    'Ferrero J.': 'Ferrero J.C.',
    'Garcia Lopez G.': 'Garcia-Lopez G.',
    'Tsonga J.': 'Tsonga J.W.',
    'Del Potro J.': 'Del Potro J.M.',
    'Chela J.': 'Chela J.I.',
    'Ramos A.': 'Ramos-Vinolas A.',
    'Mathieu P.': 'Mathieu P.H.',
    'Struff J.': 'Struff J.L.',
    'Auger Aliassime': 'Auger-Aliassime F.',
    '\tLu Y.': 'Lu Y.H.',
    'Lu Y.': 'Lu Y.H.',
    'Lee H.': 'Lee H.T.',
    'Gimeno Traver D': 'Gimeno-Traver D.',
    'Gambill J.': 'Gambill J.M.',
    'Bautista': 'Bautista R.',
    'Herbert P.': 'Herbert P.H.',
    'Roger Vasselin': 'Roger-Vasselin E.',
    'Ramirez Hidalgo R.': 'Ramirez-Hidalgo R.',
    'Bogomolov': 'Bogomolov A.',
    'Kuznetsov A.': 'Kuznetsov An.',
}

In [15]:
jugadores['Player_Name'] = jugadores['Player_Name'].astype(str).str.strip()
jugadores['Player_Name'] = jugadores['Player_Name'].replace(replacements)

edad_dict = dict(zip(jugadores['Player_Name'], jugadores['año']))
df['Age_Player1'] = df['Player_1'].map(edad_dict)
df['Age_Player2'] = df['Player_2'].map(edad_dict)

C:\Users\Propietario\AppData\Local\Temp\ipykernel_996\130367306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jugadores['Player_Name'] = jugadores['Player_Name'].astype(str).str.strip()
C:\Users\Propietario\AppData\Local\Temp\ipykernel_996\130367306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jugadores['Player_Name'] = jugadores['Player_Name'].replace(replacements)

In [16]:
# Reemplazar NaN en Age_Player1 cuando Player_1 sea 'Auger-Aliassime F.'
mask = (df['Player_1'] == 'Auger-Aliassime F.') & (df['Age_Player1'].isna())
df.loc[mask, 'Age_Player1'] = 2000.0
print(f"Filas actualizadas (Player_1 = Auger-Aliassime F.): {mask.sum()}")

# Reemplazar NaN en Age_Player1 cuando Player_1 sea 'Auger-Aliassime F.'
mask = (df['Player_2'] == 'Auger-Aliassime F.') & (df['Age_Player2'].isna())
df.loc[mask, 'Age_Player2'] = 2000.0
print(f"Filas actualizadas (Player_1 = Auger-Aliassime F.): {mask.sum()}")

Filas actualizadas (Player_1 = Auger-Aliassime F.): 196
Filas actualizadas (Player_1 = Auger-Aliassime F.): 167

In [17]:
print("Valores NaN en Age_1:", df['Age_Player1'].isna().sum())
print("Valores NaN en Age_2:", df['Age_Player2'].isna().sum())

Valores NaN en Age_1: 1990
Valores NaN en Age_2: 1915

In [18]:
df = df.dropna(subset=['Age_Player1'])
df = df.dropna(subset=['Age_Player2'])

In [20]:
df.head()

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score,Age_Player1,Age_Player2
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1.0,6-4 6-2,1970.0,1979.0
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1.0,3-6 3-6,1977.0,1974.0
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1.0,6-7 7-5 6-3,1976.0,1979.0
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1.0,1-6 4-6,1975.0,1981.0
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1.0,7-6 5-7 6-4,1970.0,1971.0

In [ ]:
df.to_csv('../0_data/1_processed/partidos_limpios.csv', index=False)